@page
@model BD.Pages.StatisticModel
@{
    ViewBag.Title = "Статистика";
    Layout = "Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Statistics.css">
}

<body class="statistic-page">
    <div class="table-container">
        <table class="statistic">
            <tr>
                <th colspan="2">По материалу</th>
            </tr>
            @foreach (var item in Model.Materials)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Model.Details.Count(d => d.Material.Name == item.Name)</td>
                </tr>
            }
        </table>

        <table class="statistic">
            <tr>
                <th colspan="2">По типу</th>
            </tr>
            @foreach (var item in Model.Types)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Model.Details.Count(d => d.Part_type.Name == item.Name)</td>
                </tr>
            }
        </table>

        <table class="statistic">
            <tr>
                <th colspan="2">По производителю</th>
            </tr>
            @foreach (var item in Model.Manufacturers)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Model.Details.Count(d => d.Manufacturer.Name == item.Name)</td>
                </tr>
            }
        </table>
    </div>
</body>
