@page
@model BD.Pages.StatisticModel
@{
	ViewBag.Title = "Статистика";
	Layout = "Shared/_Layout.cshtml";
}
<body>
	<form method="get">
		<table>
			<tr>
				<th>Аспект</th>
				<th>Категория</th>
				<th>Количество</th>
			</tr>

			@foreach(var item in Model.Materials)
			{
				<tr>
					<td>Материал</td>
					<td>@item.Name</td>
					<td>@Model.Details.Count(d => d.Material.Name == item.Name)</td>
				</tr>
			}

			@foreach (var item in Model.Types)
			{
				<tr>
					<td>Тип</td>
					<td>@item.Name</td>
					<td>@Model.Details.Count(d => d.Part_type.Name == item.Name)</td>
				</tr>
			}

			@foreach (var item in Model.Manufacturers)
			{
				<tr>
					<td>Производитель</td>
					<td>@item.Name</td>
					<td>@Model.Details.Count(d => d.Manufacturer.Name == item.Name)</td>
				</tr>
			}
		</table>
	</form>
</body>
